---
layout: _layouts/base.liquid
---

<div class="mb-5">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-lg-6">
        <h1 class="title" id="title">{{ title }}</h1>
        <div>
          <div class="author">{{ webAuthor }}</div>

          <div class="row">
            <div class="col-md-6">
              <div class="abstract">{{ abstract }}</div>
            </div>
            <div class="col-md-6">
              <pre class="bibtex">
            <code>
@inproceedings&#123;{{id}},
  abstract = &#123;{{abstract}}&#125;,
  address = &#123;{{address}}&#125;,
  author = &#123;{{author}}&#125;,
  booktitle = &#123;{{booktitle}}&#125;,
  editor = &#123;{{editor}}&#125;,
  month = &#123;{{month}}&#125;,
  pages = &#123;{{pages}}&#125;,
  publisher = &#123;{{publisher}}&#125;,
  series = &#123;{{series}}&#125;,
  title = &#123;{{title}}&#125;,
  year = &#123;{{year}}&#125;,
  ISSN = &#123;{{ISSN}}&#125;
}
              </code>
            </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div>
                {% if pdflink != 'none' %}
                <a href="{{ pdflink }}" target="blank" class="PDF">Download PDF</a>
                {% endif %} {% if media != 'none' %}
                <a href="{{ media }}" target="blank" class="media">Watch video</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>