---
layout: _layouts/base.liquid
---

<main class="container">
  <div class="author">{{ author }}</div>

  <div class="row">
    <div class="col-md-6">
      <div class="abstract">{{ abstract }}</div>
    </div>
    <div class="col-md-6">
      <pre class="bibtex">
    <code>
@inproceedings&#123;{{id}},
  abstract = &#123;{{abstract}}&#125;,
  address = &#123;{{address}}&#125;,
  author = &#123;{{author}}&#125;,
  booktitle = &#123;{{booktitle}}&#125;,
  editor = &#123;{{editor}}&#125;,
  month = &#123;{{month}}&#125;,
  pages = &#123;{{pages}}&#125;,
  publisher = &#123;{{publisher}}&#125;,
  series = &#123;{{series}}&#125;,
  title = &#123;{{title}}&#125;,
  year = &#123;{{year}}&#125;,
  ISSN = &#123;{{ISSN}}&#125;
}
      </code>
    </pre>
      <a href="{{ pdflink }}" target="blank" class="PDF">Download PDF</a>
    </div>
  </div>
</main>
